<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>

<div class="container">
    <div *ngIf="noAccountsMsg" class="alert alert-warning alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Nope!</strong> {{errorMsg}}
      </div>
  <h3>{{user.name}} {{user.surname}}'s accounts</h3>
  <table class="table" style="width:100%">
      <thead>
        <tr>
          <th>Account</th>
          <th>Type</th>
          <th>Balance</th>
          <!-- <th>Action</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts" class="shadow p-4 mb-4 bg-white">
          <td>{{account.client_account_number}}</td>
          <td>{{account.account_type_code}}</td>
          <td><strong>R{{account.display_balance}}</strong></td>
          <!-- <td><button class="btn btn-primary" (click)="gotoWithdraw(account.id)">Withdraw</button></td> -->
        </tr>
      </tbody>
      <hr>
      <h4>Highest User Account Balance: R {{highest}}</h4>
      <!-- <h4>Total Loan Amount:</h4> -->
      <h4>Financial Position: R {{financial_position}} </h4>
    </table>
  </div>