<div class="container col-sm-4">
  <h2 class="text-center">Welcome to TheBank</h2>
  <p class="text-center">Access your account(s)</p>
  <div class="text-center">
    <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
      <div class="form-group">
        <label for="name">Enter your name:</label>
        <input type="text" class="form-control" formControlName="name" required>
      </div>
      <p *ngIf="!isValid">{{message}}</p>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>