<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" (click)="goHome()">Home</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>