<app-menu></app-menu>


<div class="container">
  <!-- <div *ngIf="errorMsg">{{errorMsg}}</div> -->
  <div *ngIf="errorMsg" class="alert alert-danger alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Nope!</strong> {{errorMsg}}
  </div>
  <div *ngIf="isValid" class="alert alert-success alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Success</strong> {{message}}
  </div>
  <!-- <div *ngIf="isValid">{{message}}</div> -->
  <h2>Withdraw from:</h2>
  <div class="card">
    <div class="card-header">{{account.client_account_number}} Account <strong>R {{account.display_balance}}</strong></div>
    <div class="card-body">{{account.accout_type_code}}</div>
    <div class="card-footer">
      <form class="form-inline" [formGroup]="withdrawForm" (ngSubmit)="handleWithdraw()">
        <label for="email">Amount:</label>
        <input type="text" class="form-control" placeholder="Enter amount" formControlName="amount">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>