<app-menu></app-menu>
<div class="container">
  <table class="table" style="width:100%">
    <thead>
      <tr>
        <th>Account</th>
        <th>Currency</th>
        <th>Currency Balance</th>
        <!-- <th>Conversion Rate</th>
        <th>ZAR Amount</th> -->
        <th>Convert Currency</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of currencyAccounts" class="table-warning shadow p-4 mb-4 bg-white">
        <td>{{account.client_account_number}}</td>
        <td>{{account.currency_code}}</td>
        <td>{{account.display_balance}}</td>
        <td><button class="btn btn-success" (click)="handleConversion(account.currency_code, account.display_balance)">Convert</button></td>
      </tr>        
    </tbody>
  </table>
  <div class="container">
      <strong *ngIf="isConverted">Converted ZAR: R {{zarAmnt}} Rate: {{rate}}</strong>
  </div>
  <div class="container">
    <button class="btn btn-primary" (click)="goHome()">Back</button>
  </div>
</div>