<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>

<div class="container">
  <h4>Logged in as Admin</h4>
<div class="container">
<table class="table" style="width:100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" class="table-primary shadow p-4 mb-4 bg-white">
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td><button class="btn btn-primary" (click)="viewAccounts(user.client_id)">View Accounts</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
