<app-menu></app-menu>
<div class="container">
<table class="table" style="width:100%">
    <thead>
      <tr>
        <th>Account</th>
        <th>Type</th>
        <th>Balance</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of transactionalAccounts" class="table-primary shadow p-4 mb-4 bg-white">
        <td>{{account.client_account_number}}</td>
        <td>{{account.account_type_code}}</td>
        <td><strong>R{{account.display_balance}}</strong></td>
        <td><button class="btn btn-primary" (click)="gotoWithdraw(account.client_account_number)">Withdraw</button></td>
      </tr>
    </tbody>
  </table>
</div>

  
