<app-menu></app-menu>
<div class="container">
    <h2>View Accounts</h2>
    <button type="button" class="btn btn-primary btn-block" (click)="gotoTransactional()">Transactional Accounts</button>
    <button type="button" class="btn btn-primary btn-block" (click)="gotoCurrency()">Currency Accounts</button>
    </div>